body {
  font-family: 'ABeeZee', sans-serif;
}

.header {
  font-family: 'Exo', Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.nugreen {
  color: rgb(2, 236, 11);
}

.box {
  background-color: rgb(220, 220, 220);
  width: 80%;
}

@media only screen and (max-width: 700px) {
  .box {
    background-color: rgb(220, 220, 220);
    width: 100%
  }
}

.articleTitle{
  color: #1DB704;
}